<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">eartraining</h3>
</div>

<div class="jumbotron">
  <h1>Ear Trainer</h1>
  <p class="lead">
    <img src="images/foo.png" alt="Musical Ear Trainer"><br>
    Learn to hear musical intervals.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Play!</a></p>
</div>

<div class="row marketing">
  <h4>Blargh!</h4>
  <p>
    blah blah bla
  </p>

  <h4>Euueah!</h4>
  <audio src="piano/B4.mp3" controls autoplay loop>HTML5 audio not supported</audio>
  <audio src="piano/E4.mp3" controls autoplay loop></audio>
  <audio src="piano/G4.mp3" controls autoplay loop></audio>
  <p>
    blah bla
  </p>
</div>

<div class="footer">
  <p>♥ from the Logic Mason</p>
</div>
