<div class="jumbotron">
  <h1>Ear Trainer</h1>
  <p class="lead">
    <img src="images/foo.png" alt="Musical Ear Trainer"><br>
    Learn to hear musical intervals.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/question">Play!</a></p>
</div>

<div class="row marketing">
  <h4>Blargh!</h4>
  <p>
    blah blah blahhsafdsafwqerer
  </p>

  <h4>Euueah!</h4>
  <audio src="piano/B4.mp3" controls>HTML5 audio not supported</audio>
  <audio src="piano/E4.mp3" controls>
    // from js would be
    var sound = new Audio('piano/E4.mp3');
    sound.play();
  </audio>
  <audio src="piano/G4.mp3" controls></audio>
  <p>
    blah bla
  </p>
</div>
